@page "/Login"
@using HttpClients.ClientInterfaces
@using Domain.Models
@using Domain.DTOs
@using UIComponents
@inject IUserService userService
@inject NavigationManager navMgr

<div class="card">
        <h3>Login</h3>
        <div class="form-group field">
            <label>Username:</label>
            <input type="text" @bind="Username"/>
        </div>
        <div class="form-group field">
            <label>Password:</label>
            <input type="text" @bind="Password"/>
        </div>
        <div class="button-row">
            @if (!string.IsNullOrEmpty(msg))
            {
                <label style="color: red">@msg</label>
            }
            <button @onclick="LoginUser" class="acceptbtn">Login</button>
        </div>
</div>

@code {
    private string Username = "";
    private string Password = "";
    
    private IEnumerable<User>? users;


    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            users = await userService.GetUsers();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private async Task LoginUser()
    {
        foreach (var user in users)
        {
            if (user.UserName.Equals(Username))
            {
                if (user.Password.Equals(Password))
                    msg = "User logged on succesfully";
                else
                {
                    msg = "Wrong password";
                    return;   
                }
                return;
            }
            else
            {
                Create();
                return;
            }
        }
        return;
    }

    private async Task Create()
    {
        msg = "";

        try
        {
            UserCreationDto dto = new(Username,Password);
            await userService.Create(dto);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private void Proceed()
    {
        navMgr.NavigateTo("/ViewTodos");
    }

}